<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <style>
        body {
            background-color: #111827;
            color: white;
            font-family: Arial;
            text-align: center;
        }

        h1 {
            color: #34d399;
        }
        
        body a{
            color: red;
        }
         body a:hover {
            color: white;
        }
    </style>
</head>

<body>
    <h1>About Me</h1>
    <p>I am learning Django as part of my data science journey.</p>
    <a href={% url "index" %}>Back to home</a>
</body>
</html>